.App {
  text-align: center;
}

.App-header {
  padding: 16px;
  margin-bottom: 48px;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
